@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Inconsolata');

html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
}

/* slideshow photo swiping */
.slider, .slide-group {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slider .slide-close {
    position: absolute;
    right: 1em;
    top: 1em;
    display: block;
    z-index: 11;
}

.slide > img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}


/*
.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-container .swiper-slide {
  min-width: 100%;
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

/* slideshow option controls */
.photo-controls {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: rgba(0,0,0,0.7);
  margin:0;
  padding:0;
}

.photo-controls li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}

/* slideshow input forms */
.photo-cards {
  position: absolute;
  width: 100%;
  bottom: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 0.8em;
}

.photo-cards.modal {
  background: transparent;
  height: auto;
  min-height: auto;
  top: initial;
}
.swiper-slide .card{
    transform: scale(0.9);
    min-height: 18em;
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.swiper-slide .card h2{
  font-size: 1.8em;
}

.swiper-slide-active .card {
  transform: scale(1);
  transition: transform .2s;
}
.swiper-slide-active .card h2 {
  font-size: 1.5em;
}

.swiper-slide .card form, 
.swiper-slide.swiper-slide-active .card .summary{
  display: none;
}
.swiper-slide .card .summary,
.swiper-slide.swiper-slide-active .card form{
  display : inherit;
}
.card .summary{
  text-align: center;
}

/* Grid system */
.grid {
  width: 100%;
}
.grid-item {
  float : left;
  width: 25%;
  min-height: 18em;
  padding: 1.5em;
  overflow: hidden;
}

.grid-item-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-big .grid-item{
    width: 50%;
}

.tile {
  border: 1px solid #efefef;
  height: 100%;
  text-align:center;
  position: relative;
}

.tile img{
  max-width: 100%;
  max-height: 100%;
}

.tile .tile-caption {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tile .tile-profile {
  height: 1em;
}

.tile .tile-meta {
  height: 1.5em;
  color: #333;
}

.tile .tile-meta span{
  padding-right: 2px;
  padding-left: 2px;
}

.tile .tile-meta .tag-false {
  color : #d9534f;
}

.tile .icon-check {
  position: absolute;
  border-radius: 50%;
  background: #428bca;
  color: white;
  bottom: 10px;
  right: 10px;
}

.tile-horizontal {
  display: flex;
  flex-direction: row;
}

.tile-horizontal .tile-item{
  width: 50%;
}

.tile-center {
  text-align:center;
}

.tile-photo {
  transform : rotate(-10deg) scale(.7);
  border:1px solid #021a40;
  padding: .5em;
}
.img-circle {
  border-radius: 50%;
  border : 1px solid black;
}

/* Telegram */
.tile-telegram {
  padding:1px;
  border:1px solid #efefef;
}
.tile-telegram h1 {
  font-family: 'Cinzel Decorative', cursive;
  border-bottom: 1px solid #efefef;
  padding: 3px;
}
.tile-telegram .tile-photo-wrapper {
  background: #efefef;
}
.tile-telegram .tile-message {
  display: flex;
  flex-direction: column;
  height: 18em; /* height: 100%; has problems with safari.*/
}
.tile-telegram .tile-message div:nth-child(2){
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.tile-telegram .msg {
  font-family: 'Inconsolata', monospace;  
}

.tile-telegram .tile-profile {
  height: 1em;
}

/* Header options */
header .btn.pull-right {
  padding-right: 1em;
}

/* transition effects */
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for <2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

/*Stories */
.stories.grid {
  min-height: 20em;
}

.stories.grid .tile .tile-meta {
  height: 2em;
}

.stories.grid .tile .tile-profile {
  height: 2em;
}


/* Login */
.login {
  padding: 10em;
  text-align: center;
}
.logo {
  width: 80%;
}

/* Home */
.home {
  display: flex;
}

.home .profile {
  width: 30%;
  text-align: center;
  padding: .8em;
}
.home .spring {
  width: 70%;
}

.home .grid-item .img-circle {  
  width : 8em;
  height: 8em;  
  padding: 2em;
  overflow: hidden;
  border: 1px solid #428bca;
  margin-bottom: .8em;
}
.home .grid-item img{
  width: 100%;
}
.home .profile h2{
  font-weight: 400;
}

