html, body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
}

.slider, .slide-group {
    width: 100%;
    height: 100%;
    position: absolute;
}

.slide > img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    object-fit: contain;
}

/*
.swiper-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

.swiper-container .swiper-slide {
  min-width: 100%;
  min-height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.photo-controls {
  z-index: 100;
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  background: rgba(0,0,0,0.7);
  margin:0;
  padding:0;
}

.photo-controls li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom:10px;
}

.photo-cards {
  position: absolute;
  width: 100%;
  bottom: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
  /*overflow-x: scroll;*/
  font-size: 0.8em;
}
/*
.photo-cards > .card {
  width: 30em;
  height: 250px;
  display: table;
}
*/
.photo-cards.modal {
  background: transparent;
  height: auto;
  min-height: auto;
  top: initial;
}
.swiper-slide .card{
    transform: scale(0.9);
}

.swiper-slide .card h2{
  font-size: 1.8em;
}

.swiper-slide-active .card {
  transform: scale(1);
  transition: transform .2s;
}
.swiper-slide-active .card h2 {
  font-size: 2em;
}
